.stkHeadshots
	.slidesWrapper
		.slide.slide--0.center(data-pos="0")
			h3
				span Homicides 
				| have fluctuated
			p.subhead But have generally remained high during the past 15 years
		.slide.slide--1.right(data-pos="1")
			h3
				| Homicides 
				span by shootings 
				| has risen
			p.subhead From 77% (203) of total homicides in 2000 to 87% (300) in 2015
		.slide.slide--2.right(data-pos="2")
			h3
				span Headshots 
				| are particularly lethal
			p.subhead Victims killed by headshot are up from 82 (40%) in 2000  to 186 (62%) in 2015
		.slide.slide--3.right(data-pos="3")
			h3
				span Multiple gunshot 
				| victims are up
			p.subhead Victims suffering from multiple gunshots is up from 127 (59%) in 2005  to 211 
				| (70%) in 2015
		.arrowsWrapper
			i.icon-left-dir.arrow.arrow--left(data-dir="0")
			i.icon-right-dir.arrow.arrow--right(data-dir="1")
	.statsWrapper
		.stat.stat--0
			p.statNum
				span.dig.dig0 1
				span.dig.dig1 2
				span.dig.dig2 3
			p.year 2000
		.stat.stat--1
			p.statNum
				span.dig.dig0 2
				span.dig.dig1 3
				span.dig.dig2 4
			p.year 2005
		.stat.stat--2
			p.statNum
				span.dig.dig0 3
				span.dig.dig1 4
				span.dig.dig2 5
			p.year 2010
		.stat.stat--3
			p.statNum
				span.dig.dig0 4
				span.dig.dig1 5
				span.dig.dig2 6
			p.year 2015