.stkNeighborhoods
	h2 Lethality in  
		span Baltimore neighborhoods
	p Exploring lethality rates in Baltimore neighborhoods by comparing fatal and non-fatal 
		| shootings.
	.map#map
	a(href="https://baltsun.carto.com/viz/798d62cc-6b9e-11e6-834a-0e05a8b3e3d7/embed_map" 
		target="_blank" rel="noopener") Click here to open the map in a new window.