.stkNeighborhoods
	h2 Baltimore fatal : non-fatal  
		span shootings ratios
	p.chatter Baltimore is among the most lethal cities in the country. 
		| See how it compares to other major cities below.
	.map#map