.stkNeighborhoods
	h2 Lethality in  
		span Baltimore neighborhoods
	p Exploring lethality rates in Baltimore neighborhoods by comparing fatal and non-fatal 
		| shootings.
	.map#map
	a(href="" target="_blank" rel="noopener") Click here to open the map in a new window.