$cubeSize: 12.5%; // Size of city outline divs

.stkCities {
	max-width: 800px;
	margin: 0 auto;
	background-color: white;
	color: $offblack;
	h2 {
		margin: 0.5em 0em;
		font-family: $franklin;
		font-size: 26px;
		font-weight: 700;
		text-transform: uppercase;
		span {
			color: $stkRed;
			@media(max-width: $bp5) {
				font-size: 20px;
				display: block;
			}
		}
	}
	.chatter {
		font-family: $franklin;
		font-size: 14px;
		font-weight: 700;
		color: $stkDarkGray;
	}
	.graphic {
		position: relative;
		font-size: 14px;
		@media(max-width: $bp7) {
			font-size: 12px;
		}
		@media(max-width: $bp6) {
			font-size: 10px;
		}
		::-webkit-scrollbar { 
			display: none; 
		}
	}
	.cities {
		position: relative;
		// overflow-y: scroll;
		overflow: hidden;
		z-index: 1;
		height: 25em;
		padding-right: 20px;
		@media(max-width: $bp5) {
			height: 18em;
		}
	}
	.cityOutline {
		width: $cubeSize;
		height: 0;
		border-right: .1em solid $stkLightGray;
		padding-bottom: $cubeSize;
		text-align: center;
		&:hover {
			cursor: pointer;
		}
		img {
			width: 90%;
			opacity: .2;
			@include transition(all 0.5s ease);
			&:hover {
				width: 100%;
				opacity: .75;
			}
		}
		&:last-child{
			padding-bottom: $cubeSize * 4;
			@media(max-width: $bp5) {
				padding-bottom: 100%;
			}
		}
	}
	.activeCity {
		img {
			width: 100%;
			opacity: 1;
		}
	}
	.cityNameBlock {
		position: absolute;
		top: 0;
		width: 100%;
		height: 0;
		padding-top: $cubeSize / 2;
		padding-bottom: $cubeSize / 2;
		padding-left: $cubeSize + 3%;
		border-bottom: .1em solid $stkLightGray;
	}
	.cityName {
		margin: 0;
		line-height: 0;
		font-family: $prata;
		font-weight: 100;
		font-size: 3.5em;
		@media(max-width: $bp5) {
			font-size: 2.5em;
			// text-align: center;
		}
	}
	.cityStats {
		position: absolute;
		top: 0;
		width: 100%;
		padding-top: $cubeSize;
		padding-left: $cubeSize + 1%;
		padding-right: 3%;
		// text-align: center;
		p {
	 		font-family: $franklin;
			font-weight: 700;
			font-size: 1.5em;
			margin: 0.5em 0;
		}
	}
	.statList {
		width: 48%;
		float: left;
		@media(max-width: $bp5) {
			width: 100%;
		}
		span {
			color: $stkRed;
		}
	}
	.graph {
		width: 48%;
		float: right;
		text-align: left;
		@media(max-width: $bp5) {
			display: none;
		}
		img {
			width: auto;
			max-height: 7.5em;
		}
	}
	h4 {
		margin: 0.5em 0;
		font-family: $franklin;
		font-weight: 700;
		font-size: 1.7em;
		// text-align: center;
		text-transform: uppercase;
	}
}