$prata: 'Prata', serif;
$franklin:' franklin-gothic-urw', sans-serif;

$goldenrod: #daa520;
$offblack: #0d0d0d;

$stkRed: #bb0a1e;
$stkDarkGray: #555555;
$stkLightGray: #888888;
$stkStroke: #d4d4d4;

// Breakpoints
$bp5: 500px;
$bp6: 600px;
$bp7: 700px;