@import "mixins";
@import "variables";
// Sass mixins libraries
@import "bourbon/bourbon";
@import "neat/neat";
// Base styles -- normalizes styles across browsers. 
// Alter border-sizing styles to prevent issues in P2P HTML stories
@import "normalize";
@import "fonts";

$cubeSize: 15%; // Size of city outline divs

$fontSerifMain: $prata;
$fontSansSerifMain: $franklin;

$colorBase: white;
$colorTextMain: black;
$colorTextAccent: $stkRed;
$colorTextGray: $stkDarkGray;

// $colorBase: black;
// $colorTextMain: white;
// $colorTextAccent: $stkRed;
// $colorTextGray: $stkLightGray;

$bp5: 500px;
$bp6: 600px;
$bp7: 700px;

.stkCities {
	max-width: 800px;
	margin: 0 auto;
	background-color: $colorBase;
	color: $colorTextMain;
	h2 {
		margin: 0.5em 0em;
		font-family: $fontSansSerifMain;
		font-size: 26px;
		font-weight: 700;
		text-transform: uppercase;
		span {
			color: $colorTextAccent;
			@media(max-width: $bp5) {
				font-size: 22px;
				display: block;
			}
		}
	}
	.chatter {
		font-family: $fontSansSerifMain;
		font-size: 14px;
		font-weight: 700;
		color: $colorTextGray;
	}
	.graphic {
		position: relative;
		font-size: 14px;
		@media(max-width: $bp7) {
			font-size: 12px;
		}
		@media(max-width: $bp6) {
			font-size: 10px;
		}
	}
	.cities {
		position: relative;
		overflow-y: scroll;
		z-index: 1;
		height: 25em;
		@media(max-width: $bp5) {
			height: 20em;
		}
	}
	.cityOutline {
		width: $cubeSize;
		height: 0;
		border-right: .2em solid $colorTextMain;
		padding-bottom: $cubeSize;
		text-align: center;
		&:hover {
			cursor: pointer;
		}
		img {
			width: 90%;
			opacity: .2;
			@include transition(all 0.5s ease);
			&:hover {
				width: 100%;
				opacity: .5;
			}
		}
	}
	.cityOutline--blank {
		padding-bottom: $cubeSize * 4;
	}
	.activeCity {
		img {
			width: 100%;
			opacity: 1;
		}
	}
	.cityNameBlock {
		position: absolute;
		top: 0;
		width: 100%;
		height: 0;
		padding-top: $cubeSize / 2;
		padding-bottom: $cubeSize / 2;
		padding-left: $cubeSize + 3%;
		border-bottom: .2em solid $colorTextMain;
	}
	.cityName {
		margin: 0;
		line-height: 0;
		font-family: $fontSerifMain;
		font-size: 4em;
		@media(max-width: $bp5) {
			font-size: 3em;
			text-align: center;
		}
	}
	.cityStats {
		position: absolute;
		top: 0;
		width: 100%;
		padding-top: $cubeSize;
		padding-left: $cubeSize + 1%;
		padding-right: 3%;
		text-align: center;
		p {
	 		font-family: $fontSansSerifMain;
			font-weight: 700;
			font-size: 1.5em;
			margin: 0.5em 0;
		}
	}
	.statList {
		width: 48%;
		float: left;
		@media(max-width: $bp5) {
			width: 100%;

		}
	}
	.graph {
		width: 48%;
		float: right;
		text-align: left;
		@media(max-width: $bp5) {
			display: none;
		}
		img {
			width: 100%;
		}
	}
	h4 {
		font-family: $fontSansSerifMain;
		font-weight: 700;
		font-size: 2em;
		text-align: center;
		margin: 0.5em 0;
	}
}

/* Leaderboard */
// #leaderboard {
// 	width: 728px;
// 	height: 90px;
// 	background-color: #222222;
// 	margin: 10px auto;
// 	text-align: center;
// 	@media (max-width: 730px){
// 		display: none;
// 	}
// }